In [5]:
import pandas as pd
import umap
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.cluster import DBSCAN
import hdbscan

%matplotlib inline

In [6]:
final_df = pd.read_csv("../data/processed/final_df.csv")

## Numeric Features

##### Find Nulls

In [9]:
final_df[final_df.isnull().any(axis=1)]

,id_student,age_band,gender,highest_education,n_assignments,mean_score,final_result,total_clicks,studied_credits,region,code_module,code_presentation,press_mod
797,186780,35-55,F,A Level or Equivalent,0,NaN,Withdrawn,30,120,North Western Region,BBB,2013B,2013B-BBB
1734,549713,35-55,F,Lower Than A Level,0,NaN,Withdrawn,75,60,West Midlands Region,BBB,2013B,2013B-BBB
1843,554393,35-55,M,A Level or Equivalent,0,NaN,Fail,21,60,West Midlands Region,BBB,2013B,2013B-BBB
4498,606501,0-35,F,A Level or Equivalent,0,NaN,Withdrawn,9,120,West Midlands Region,BBB,2014B,2014B-BBB
6171,654422,0-35,F,No Formal quals,0,NaN,Withdrawn,31,60,East Midlands Region,BBB,2014J,2014J-BBB
13730,555297,0-35,M,Lower Than A Level,0,NaN,Withdrawn,155,60,North Western Region,DDD,2013B,2013B-DDD
13768,557247,0-35,F,A Level or Equivalent,0,NaN,Withdrawn,576,60,Yorkshire Region,DDD,2013B,2013B-DDD
13769,557247,0-35,F,A Level or Equivalent,0,NaN,Withdrawn,576,60,Yorkshire Region,DDD,2013J,2013J-DDD
14355,427248,35-55,F,A Level or Equivalent,0,NaN,Withdrawn,317,120,North Western Region,DDD,2013J,2013J-DDD
17039,676642,0-35,M,Lower Than A Level,0,NaN,Withdrawn,62,60,South West Region,DDD,2014J,2014J-DDD
18729,694548,0-35,M,A Level or Equivalent,0,NaN,Withdrawn,117,90,North Region,EEE,2014J,2014J-EEE
18901,174436,35-55,F,Lower Than A Level,0,NaN,Fail,101,60,Wales,FFF,2013B,2013B-FFF
19779,545791,35-55,M,Lower Than A Level,0,NaN,Withdrawn,20,120,West Midlands Region,FFF,2013B,2013B-FFF
19787,546164,35-55,M,Lower Than A Level,0,NaN,Withdrawn,381,60,South Region,FFF,2013B,2013B-FFF
20333,126074,35-55,M,Lower Than A Level,0,NaN,Withdrawn,209,120,West Midlands Region,FFF,2013J,2013J-FFF
21635,599994,0-35,M,A Level or Equivalent,0,NaN,Withdrawn,147,60,North Region,FFF,2013J,2013J-FFF
25375,610738,35-55,F,Lower Than A Level,0,NaN,Fail,157,30,London Region,GGG,2013J,2013J-GGG
26180,480914,0-35,F,No Formal quals,0,NaN,Withdrawn,8,30,East Anglian Region,GGG,2014J,2014J-GGG
26392,648110,0-35,F,Lower Than A Level,0,NaN,Withdrawn,87,60,London Region,GGG,2014J,2014J-GGG

In [10]:
final_df.isnull().sum()

id_student            0
age_band              0
gender                0
highest_education     0
n_assignments         0
mean_score           19
final_result          0
total_clicks          0
studied_credits       0
region                0
code_module           0
code_presentation     0
press_mod             0
dtype: int64

In [11]:
#replace nan with mean value
final_df["mean_score"].fillna(72.83, inplace = True)

In [12]:
#replace "0s" with mean
final_df['n_assignments'] = np.where((final_df.n_assignments == 0), 7, final_df.n_assignments)

In [13]:
final_df['mean_score'] = np.where((final_df.mean_score == 0.0), 72.83, final_df.mean_score)

In [14]:
np.log(final_df["n_assignments", "mean_score", "total_clicks", "studied_credits",])

KeyError: ('n_assignments', 'mean_score', 'total_clicks', 'studied_credits')